@import "partials/toc";


/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES

$color-body-primary-dark: rgba(80, 54, 42, 1);
$color-body-primary-light: rgba(255, 245, 228, 1);
$color-accent-dark: rgba(250, 220, 167, 1);
$color-accent-light: rgba(174, 137, 128, 1);
$color-body-background: rgba(255, 245, 228, 1);

$color-lightgrey: rgba(0, 0 ,0, .5);

$font-family-title: puffin-arcade-liquid, sans-serif;
$font-family-body: input-serif-condensed, serif;
$font-family-min: input-serif-narrow, serif;


// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


// BORDER RADIUS

$border-radius: 25px;

// IMPORTS

@import "partials/typography";
@import "partials/helpers";
@import "partials/button";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/sitenav";

// GLOBAL SITE STYLES

body {
    background-color: $color-body-background;
}

