form {
		max-width: 1000px;
		margin: 2em auto;
}

form label,
form input,
form textarea {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		display: block;
		width: 100%;
		font-size: 1em;
}

form input[type=text],
form textarea {
		border: 1px solid #ccc;
		padding: 0.5em;
		color: #666;
}

form textarea {
		min-height: 10em;
		line-height: 1.5;
}

form label {
		margin-top: 1em;
		margin-bottom: 0.5em;
}

form input[type=submit] {
		margin-top: 1.5em;
		width: auto;
}