/* FEATURED PRODUCTS CAROUSEL */

.featured {
    display: flex;
    align-items: center;

    h2 {
        padding: 3em;
    }

    img {
        border-radius: $border-radius;
    }

    .caption {
        font-family: $font-family-min;
        font-size: 115%;
        color: $color-body-primary-light;
        padding: 2em;
    }

    span {
        cursor: pointer;
    }

}