/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: left;

    .site-id {
        display: flex;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

}

/* SITE-FOOTER */

.site-footer {
    display: flex;
    background: $color-body-primary-dark;
    color: $color-accent-light;

    .footer-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em;

        h1 {
            color: $color-accent-dark;
            padding-left: 2em;
        }
    }

    .one-half {
        justify-content: center;
    }

    p {
        text-align: center;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    a {
        color: $color-body-primary-dark;
        text-decoration: none;
    }

    a:hover {
        color: $color-body-primary-light;
    }

    ul {
        list-style: none;

        img {
            margin: 0 1em;
            cursor: pointer;
        }

        img:hover {
            filter: gray;
            -webkit-filter: grayscale(1);
            transition: all .3s ease-out;
        }

    }

    form {
        margin: 1em;

        label, input, textarea {
            display: block;
        }

        input[type="text"], textarea {
            border: 3px solid $color-accent-light;
            border-radius: 25px;
            width:30vw;
            padding: 1em;
            color: $color-body-primary-dark;
        }

        textarea {
            min-height: 10em;
            line-height: 1.5;
        }
    
        label {
            margin-top: 1em;
            margin-bottom: .5em;
        }

        input[type="submit"] {
            margin-top: 1.5em;
            width: auto;
        }
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

/* HERO SECTION */

.hero {
    background-image: url("../img/KawaiiCaps_Hero.jpg");
    background-position: center;
    background-size: cover;
    text-align: left;
    min-height: 100vh;
    display: flex;

    .container {
        margin: 15em;
    }
    
    h1 {
        margin-bottom: .25em;
        color: $color-body-primary-dark;

    }
    p {
        margin: 1em auto;
    }
}

/* SECTION HEADING */ 

.section-heading {
    font-size: 1em;
    font-family: $font-family-body;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-bottom: 5px solid $color-accent-dark;
    display: table;
    padding: 0 0 .5em 0;
    margin: 1em auto 3em auto;
}

.site-main {
    display: flex;
    flex-direction: column;
}

/* FEATURED PRODUCTS */

.featured {
    text-align: center;
    background: rgb(252,228,208);
    background: linear-gradient(180deg, rgba(254,218,196,1) 0%, rgba(0,0,0,1) 100%);
    
    img {
        cursor: pointer;
    }
    .featured-product {
        position: relative;
    }

    .featured-product-cards  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    
        img {
            padding: 1em;
            border-radius: 25px;
            transition: all .2s ease-in;
        }
    
        img:hover {
            transform: scale(1.2);
        }
    }
}


/* ABOUT US */

.aboutus {
    position: relative;
    background-image: url("../img/KawaiiCaps_Hero3.jpg");
    background-position: center;
    background-size: cover;
    font-family: $font-family-body;
    color: $color-body-primary-dark;
    text-align: left;
    min-height: 100vh;
    display: flex;
    z-index: 1;
}

/* PRODUCTS */

.products {
    background: $color-body-primary-light;

    h1 {
        text-align: center;
        padding: 1.5em;
    }

    .keycap-product {
        position: relative;
    }
}

.product-cards  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    img {
        padding: .5em;
        border-radius: 25px;
        transition: all .2s ease-in;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.2);
    }
}